# **FUNCTION AND MODULE**
---

# Sesi 3 - Objectives

Pada akhir pertemuan ini, peserta akan:
1. Mampu membuat fungsi yang menerima argumen dan mengembalikan hasil menggunakan `return`.
2. Memahami cara menggunakan metode bawaan Python pada string dan list.
3. Mampu menggabungkan fungsi dan metode dalam program sederhana.

#### 1. **Pengenalan Fungsi (Function) di Python**
   - **Apa itu Fungsi?**
     - Fungsi adalah blok kode yang dirancang untuk melakukan tugas tertentu. Fungsi memudahkan untuk memecah program menjadi bagian-bagian yang lebih kecil dan terorganisir.
   - **Sintaks Dasar Fungsi:**
     ```python
     def nama_fungsi(parameter1, parameter2, ...):
         # Blok kode yang akan dijalankan saat fungsi dipanggil
         return nilai
     ```

     Contoh Fungsi Sederhana:
     ```python
     def sapa(nama):
         return f"Halo, {nama}!"

     # Memanggil fungsi
     print(sapa("Andi"))
     ```

   - **Argumen dan Parameter:**
     - **Parameter** adalah variabel di dalam definisi fungsi.
     - **Argumen** adalah nilai yang dikirimkan ke fungsi saat memanggilnya.
     
     Contoh fungsi dengan beberapa parameter:
     ```python
     def hitung_luas(panjang, lebar):
         return panjang * lebar

     # Memanggil fungsi dengan dua argumen
     print(hitung_luas(5, 10))
     ```

   - **Latihan Fungsi:**
     Buat fungsi yang menghitung jumlah dua angka dan mengembalikan hasilnya:
     ```python
     def tambah(angka1, angka2):
         return angka1 + angka2

     hasil = tambah(3, 7)
     print("Hasil penjumlahan:", hasil)
     ```

---

#### 2. **Fungsi dengan Nilai Default, Required, Positional, dan Keyword Arguments**
   - **Nilai Default:**
     Parameter fungsi dapat memiliki nilai default, yang akan digunakan jika argumen tidak diberikan saat fungsi dipanggil.
     ```python
     def sapa(nama="Pengguna"):
         print(f"Halo, {nama}!")

     sapa()  # Menggunakan nilai default "Pengguna"
     sapa("Andi")  # Mengganti dengan argumen "Andi"
     ```

   - **Keyword Arguments:**
     Argumen dapat diberikan dengan nama parameternya secara eksplisit untuk meningkatkan kejelasan.
     ```python
     def hitung_luas(panjang, lebar):
         return panjang * lebar

     print(hitung_luas(lebar=10, panjang=5))  # Urutan tidak penting jika menggunakan keyword arguments
     ```

   - **Latihan Nilai Default:**
     Buat fungsi untuk menghitung diskon dengan parameter harga asli dan persentase diskon. Buat agar persentase diskon memiliki nilai default 10%.
     ```python
     def hitung_diskon(harga, diskon=10):
         return harga - (harga * diskon / 100)

     print(hitung_diskon(100000))  # Diskon default 10%
     print(hitung_diskon(100000, 20))  # Diskon 20%
     ```

- **Required Argument:**
  Required argument adalah argumen yang harus diberikan saat memanggil fungsi. Jika argumen tersebut tidak diberikan, Python akan mengeluarkan error karena fungsi membutuhkan argumen tersebut untuk dijalankan.

  Contoh:
  ```python
  def hitung_luas(panjang, lebar):
      return panjang * lebar

  # Memanggil fungsi dengan semua required argument
  print(hitung_luas(5, 10))  # Output: 50

  # Jika argumen tidak lengkap, akan muncul error
  # print(hitung_luas(5))  # Error: missing 1 required positional argument
  ```

  Pada contoh di atas, `panjang` dan `lebar` adalah required arguments. Jika kita tidak memberikan nilai untuk keduanya saat memanggil fungsi, akan terjadi error.

- **Positional Argument:**
  Positional argument adalah argumen yang diberikan berdasarkan urutan posisi parameter ketika fungsi dipanggil. Python akan menyesuaikan nilai argumen dengan parameter sesuai dengan urutannya.

  Contoh:
  ```python
  def hitung_persegi_panjang(panjang, lebar):
      return panjang * lebar

  # Memanggil fungsi dengan positional argument
  print(hitung_persegi_panjang(5, 10))  # 5 akan diinterpretasikan sebagai panjang, dan 10 sebagai lebar
  ```

  Dalam contoh ini, angka `5` akan diterima sebagai `panjang` dan `10` sebagai `lebar` sesuai urutan argumen ketika memanggil fungsi.
---

#### 3. **Fungsi Tanpa Return**
   - Fungsi tidak selalu harus mengembalikan nilai. Beberapa fungsi hanya melakukan tugas tertentu tanpa menggunakan `return`.
   - Contoh fungsi tanpa `return`:
     ```python
     def cetak_salam(nama):
         print(f"Halo, {nama}!")

     cetak_salam("Andi")
     ```

   - **Latihan Fungsi Tanpa Return**:
     Buat fungsi yang hanya mencetak kalimat tertentu tanpa mengembalikan nilai:
     ```python
     def cetak_nama(nama):
         print(f"Nama Anda adalah {nama}")

     cetak_nama("Sinta")
     ```

---

#### 4. **Pengenalan Module di Python**
   - **Apa itu Module?**
     - Module adalah file yang berisi kumpulan fungsi dan variabel yang dapat diimpor ke program Python lain. Dengan module, kode bisa lebih modular dan lebih mudah dipelihara.
     - Python memiliki banyak module built-in (tertanam), dan kita juga bisa membuat module sendiri.

   - **Mengimpor Module:**
     Untuk menggunakan module, kita harus mengimpor module tersebut terlebih dahulu. Contoh mengimpor module `math`:
     ```python
     import math

     print(math.sqrt(16))  # Menggunakan fungsi sqrt dari module math
     ```

   - **Mengimpor dengan Alias:**
     Kita bisa memberikan alias (nama pendek) untuk module yang diimpor:
     ```python
     import math as m

     print(m.sqrt(25))  # Menggunakan alias m untuk module math
     ```

   - **Mengimpor Fungsi Spesifik:**
     Kita juga bisa mengimpor hanya fungsi tertentu dari module:
     ```python
     from math import sqrt

     print(sqrt(36))  # Mengimpor hanya fungsi sqrt
     ```

   - **Latihan Module:**
     Gunakan module `math` untuk menghitung lingkaran dengan rumus `luas = pi * r^2`, di mana `pi` berasal dari module `math`:
     ```python
     import math

     def hitung_luas_lingkaran(jari_jari):
         return math.pi * jari_jari ** 2

     print(hitung_luas_lingkaran(5))  # Menghitung luas lingkaran dengan jari-jari 5
     ```

---

#### 5. **Membuat Module Sendiri**
   - Kita juga bisa membuat module sendiri dengan menyimpan fungsi di file Python terpisah dan mengimpornya ke program lain.
   - Contoh: Buat file bernama `modulku.py` dengan kode berikut:
     ```python
     def sapa(nama):
         print(f"Halo, {nama}!")

     def hitung_luas(panjang, lebar):
         return panjang * lebar
     ```

   - Lalu, kita bisa mengimpor module tersebut ke program Python lain:
     ```python
     import modulku

     modulku.sapa("Andi")
     print(modulku.hitung_luas(5, 10))
     ```

  

---

#### 6. **Latihan Akhir: Menerapkan Fungsi dan Module**
   - Gabungkan konsep fungsi dan module dalam satu program.
   - Buat fungsi dalam module terpisah yang menghitung volume kubus, kemudian impor module tersebut dan panggil fungsi untuk menghitung volume kubus berdasarkan input pengguna.

   Contoh Program:
   1. **File `modul_volume.py`:**
     ```python
     def hitung_volume_kubus(sisi):
         return sisi ** 3
     ```
   
   2. **File utama:**
     ```python
     import modul_volume

     sisi = int(input("Masukkan panjang sisi kubus: "))
     print(f"Volume kubus: {modul_volume.hitung_volume_kubus(sisi)}")
     ```

---

## **Latihan Function**

**NOMOR 1**

Buatlah sebuah function untuk menampilkan tanda plus (`+`) sebanyak
`n`.
  * Input : `n` | Jumlah tanda plus (`+`) yang diinginkan | int
  * Output : Jumlah tanda plus yang ditampilkan

| Input | Output |
| - | - |
| n = 1 | + |
| n = 3 | + <br /> + <br /> + |
| n = 5 | + <br /> + <br /> + <br /> + <br /> + |
| n = 0 | Tampilkan pesan `Input salah` |
| n = -1 | Tampilkan pesan `Input salah` |

In [ ]:
# Working area
#Create function
def tampil_plus(n):
  if n <=0 :
    print('Input Salah')
  else:
    for i in range(n):
      print('+')

In [ ]:
#Calling function cara 1
tampil_plus(-5)

Input Salah

In [ ]:
#Calling function cara 2
print(tampil_plus(1))
print(tampil_plus(3))
print(tampil_plus(5))
print(tampil_plus(0))
print(tampil_plus(-1))

+
None
+
+
+
None
+
+
+
+
+
None
Input Salah
None
Input Salah
None

**NOMOR 2**

Buat sebuah function untuk mereturn hanya angka genap (positif/negatif) dari sekumpulan list yang berisi nilai-nilai (tidak termasuk 0).
  * Input : `daftar_angka` : daftar angka-angka | list of int
  * Output : daftar angka-angka genap | list of int

| No | Input | Output |
| - | - | - |
| 1 | daftar_angka = [1, 2, 3, 4, 5, 6] | [2, 4, 6] |
| 2 | daftar_angka = [0, 1, 3, 5, 7, 9] | [] |
| 3 | daftar_angka = [-10, -9, -8, -7]  | [-10, -8] |

tips: gunakan `*args` = tuple, `**kwargs` = dictionary

In [ ]:
# Working area
#Create function
def tampil_genap(*num):
  penampung = []
  for i in num:
    if i % 2 == 0 and i != 0:
      penampung.append(i)
    else:
      pass
  return penampung

In [ ]:
#Calling function
print(tampil_genap(1,2,3,4,5,6))
print(tampil_genap(0, 1, 3, 5, 7, 9))
print(tampil_genap(-10, -9, -8, -7))

[2, 4, 6]
[]
[-10, -8]

In [ ]:
#Calling function pakai input
number = input('masukan angka dengan pemisah spasi:')
number = list(map(int,(number.split( ))))
print(number)
print(type(number))
print(tampil_genap(*number))

masukan angka dengan pemisah spasi:1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]
<class 'list'>
[2, 4, 6]

**NOMOR 3**

Buatlah sebuah function untuk menampilkan `nama` dan `negara`. Jika tidak ada value pada parameter `negara`, isi dengan `Indonesia`.
  * Input : `nama` | str
  * Input : `negara` | str

| No | Input | Output |
| - | - | - |
| 1 | nama = Frank <br /> <br /> negara = USA| "Halo Frank dari USA" |
| 2 | nama = Smith <br /> <br /> negara = Jerman| "Halo Smith dari Jerman" |
| 3 | nama = Anton | "Halo Anton dari Indonesia" |
| 4 | negara = Singapura | *--Program Error--* |

In [ ]:
# Working area
#Create function
def tampil_nama_negara(nama,negara='Indonesia'):
  return f'Halo {nama} dari {negara}'

In [ ]:
#Calling function
print(tampil_nama_negara('Frank','USA'))
print(tampil_nama_negara('Smith','Jerman'))
print(tampil_nama_negara('Anton'))

Halo Frank dari USA
Halo Smith dari Jerman
Halo Anton dari Indonesia

In [ ]:
print(tampil_nama_negara(negara='USA'))

TypeError: tampil_nama_negara() missing 1 required positional argument: 'nama'

In [ ]:
print(tampil_nama_negara('USA','Frank'))

Halo USA dari Frank

In [ ]:
print(tampil_nama_negara(negara='USA',nama='Frank'))

Halo Frank dari USA

## Latihan modul no 5

In [ ]:
import modulku as m

m.sapa("Andi")
print(m.hitung_luas(5, 10))

Halo, Andi!
50

In [ ]:
m.a

[1, 2, 3, 4]

In [ ]:
import modul2

In [ ]:
modul2.a

'aku'

In [ ]:
from modulku import sapa
sapa('Vincent')

Halo, Vincent!

# Latihan Module

Buat function untuk menghitung luas persegi panjang dan keliling persegi panjang pada sebuah module dengan file `my_first_module.py` pada colab ini, lalu import ke notebook ini dan function nya di sini!

In [ ]:
from my_first_module import luas,keliling

print(luas(10,2))
print(keliling(10,2))

20
24

# **Assignment 2**:
1. Buatlah notebook file dengan format <nama_assignment2.ipynb> yang berisi sebuah function untuk :
  * Mereturn angka disuatu posisi berdasarkan bilangan pertama dari sebuah daftar angka-angka.
  * Urutan posisi dimulai dari bilangan kedua.
  * Jika bilangan pertama melebihi jumlah banyaknya daftar angka-angka, maka return **-1**.
  * Input : daftar angka

| No | Input | Output |
| - | - | - |
| 1 | (3, 10, 20, 30, 40) | 40 |
| 2 | (0, -10, 10)| -10 |
| 3 | (1, 2, 300, 10) | 300 |
| 4 | (100, 200, 300, -400) | -1 |
| 5 | (4, 200, 300, -400) | -1 |


2. Buat module Python bernama `rumus.py` yang berisi dua fungsi: satu untuk menghitung luas segitiga dan satu lagi untuk menghitung keliling segitiga. Gunakan module tersebut di notebook utama (pada soal no 1).

Submit dilakukan dalam bentuk mengirimkan link github repository (public) ke google form.

NOMOR 1

In [4]:
def daftar_angka(*num):
  i = num[0] + 1
  if i >= len(num):
    return -1
  else:
    return num[i]

# Test cases
print(daftar_angka(3, 10, 20, 30, 40))  # Output: 40
print(daftar_angka(0, -10, 10))  # Output: -10
print(daftar_angka(1, 2, 300, 10))  # Output: 300
print(daftar_angka(100, 200, 300, -400))  # Output: -1
print(daftar_angka(4, 200, 300, -400))  # Output: -1

40
-10
300
-1
-1

In [8]:
import rumus

# Example usage
alas = 10
tinggi = 5
luas = rumus.luas_segitiga(alas, tinggi)
print(f"Luas segitiga: {luas}")

sisi1 = 3
sisi2 = 4
sisi3 = 5
keliling = rumus.keliling_segitiga(sisi1, sisi2, sisi3)
print(f"Keliling segitiga: {keliling}")

Luas segitiga: 25.0
Keliling segitiga: 12

---
$$-- END --$$
___

![image.png]()

## Additional

Buatlah sebuah function untuk menampilkan tanda plus (`+`) berbentuk segitiga dibawah ini.
  * Input : `n` | int
  * Output : Jumlah tanda plus yang dimunculkan.

| Input | Output |
| - | - |
| n = 1 | + |
| n = 2 | ++ <br /> +|
| n = 3 | +++ <br /> ++ <br /> +|
| n = 4 | ++++ <br /> +++ <br /> ++ <br /> +|
| n = 5 | +++++ <br /> ++++ <br /> +++ <br /> ++ <br /> +|
| n = -1 | *--error--* |

In [65]:
def plus_kebalik (n) :
  if n <= 0:
    print("error")
    return
  for i in range (n) :
    print((n-i)*"+")

print(plus_kebalik (1))
print(plus_kebalik (2))
print(plus_kebalik (3))
print(plus_kebalik (4))
print(plus_kebalik (5))
print(plus_kebalik (-1))

+
None
++
+
None
+++
++
+
None
++++
+++
++
+
None
+++++
++++
+++
++
+
None
error
None